* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: grid;
	width: 100%;
	height: -webkit-fill-available;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

canvas {
	border: 1px solid black;
}